@import "tailwindcss";

body {
  /* width: 100% !important;
  height: 100% !important; */
  /* margin: 0 !important;
  max-width: 100vw; */
  /* overflow-x: hidden; */
}

body video {
  /* position: relative !important; */
  margin: 0 !important;
  /* width: 100% !important;
  height: 100% !important; */
}
